.aboutmask {

    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);

    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 35px;
    letter-spacing: 0.6px;
    color: rgb(65, 61, 61);
    
    img {
        float: left;
        width: 25%;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}
 


//Desktops, large screens
@media screen and (max-width:1200px) {
    .aboutmask {
        font-size: 32px;
    }
}

//Small screens, laptops
@media screen and (max-width:1024px) {
    .aboutmask {
        font-size: 28px;
    }
}

//iPads, Tablets
@media screen and (max-width:768px) {
    .aboutmask {
        font-size: 24px;
    }
}

//Mobile devices
@media screen and (max-width:480px) {
    .aboutmask {
        font-size: 20px;
        img {
            width: 100%;
        }
    }
}

