.aboutmask {
    margin-left: 19%;
    margin-right: 19%;
    margin-top: 5%;
    background: rgba(255, 255, 255, 0.2);
    font-size: 35px;
    font-family: 'Lateef', cursive;
    color: rgb(65, 61, 61);
    border-radius: 15px;
}

.aboutmask img {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 20px;
    margin-bottom: 5px;
    width: 25%;
}

.abouttext {
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

/*
    WIDTH
*/

@media screen and (max-width:1400px) {
    .aboutmask img {
        width: 35%;
    }
    .aboutmask {
        font-size: 30px;
    }
}

@media screen and (max-width:950px) {
    .aboutmask img {
        width: 90%;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width:600px) {
    .aboutmask {
        font-size: 25px;
    }
}
