.carousel-container {
    width: 70%;
    margin: auto;
    margin-top: 14%;

    font-family: 'PT Sans Narrow', sans-serif;
    color: rgb(65, 61, 61);


    position: relative;
    overflow-x: hidden;
}
 
.carousel-slide {
    display: flex;
}

.quote {
    display: grid;
    grid-template-rows: auto auto;
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
}
  
.saying {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: auto 1fr;
    margin-left: 5%;
    margin-right: 5%;
}
  
.comillas {
    margin-right: 5px;
    font-size: 21px;
    color: rgb(94, 86, 86);
}

.refran {
    margin-top: 15px;
    font-size: 35px;
    letter-spacing: 0.5px;
}

.author {
    grid-row: 2/3;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 9%;
    font-size: 22px;
}

#prevBtn {
    position: absolute;
    top: 30%;
    z-index: 10;
    left: 0%;
    font-size: 30px;
    color: rgb(221, 207, 207);
    opacity: 0.7;
    cursor: pointer;
}

#nextBtn {
    position: absolute;
    top: 30%;
    z-index: 10;
    right: 0%;
    font-size: 30px;
    color: rgb(221, 207, 207);
    opacity: 0.7;
    cursor: pointer;
}



//Desktops, large screens
@media screen and (max-width:1200px) {
    .carousel-container {
        width: 80%;
        margin-top: 20%;
    }

    .comillas {
        font-size: 19px;
    }
    
    .refran {
        font-size: 32px;
    }
    
    .author {
        font-size: 26px;
    }
}

//Small screens, laptops
@media screen and (max-width:1024px) {
    .carousel-container {
        width: 90%;
        margin-top: 28%;
    }

    .saying {
        margin-left: 7%;
        margin-right: 8%;
    }

    .comillas {
        font-size: 16px;
    }
    
    .refran {
        font-size: 29px;
    }
    
    .author {
        font-size: 22px;
    }
}

//iPads, Tablets
@media screen and (max-width:768px) {
    .carousel-container {
        width: 100%;
        margin-top: 35%;
    }

    .saying {
        margin-left: 9%;
        margin-right: 11%;
    }

    .comillas {
        font-size: 13px;
    }
    
    .refran {
        font-size: 26px;
    }
    
    .author {
        font-size: 20px;
    }
}

//Mobile devices
@media screen and (max-width:480px) {
    .refran {
        font-size: 23px;
    }
    
    .author {
        font-size: 16px;
    }
}




.toggle_increase_top_margin {
    margin-top: 60%;
}