
nav {
    display: grid;
    grid-template-columns: 20% 1fr 1fr 20%;
    grid-template-areas: ". hfirst hsecond .";

    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
    font-size: 22px; 

    margin-top: 25px;
    align-items: center;

    img {
        width: 350px;
    }

    ul {
        display: flex;
        justify-content: space-around;

        list-style: none;
        z-index: 20;

        a {
            text-decoration: none;
            color: rgb(107, 87, 87);
            &:hover {
                text-decoration-line: underline;
                color: rgb(88, 114, 32);
            }
        }
    }
}

.burger {
    display: none;
    cursor: pointer;

    div {
        width: 25px;
        height: 3px;
        background-color: rgb(107, 87, 87);
        margin: 5px;
        transition: all 0.3s ease;
    }
}




//Dekstops, large screens
@media screen and (max-width:1200px) {
    nav {
        grid-template-columns: 18% 1fr 1fr 18%;
        margin-top: 35px;

        img {
            width: 270px;
        }
    }
}

//Small screens, laptops
@media screen and (max-width:1024px) {
    nav {
        grid-template-columns: 15% 1fr 1fr 15%;

        img {
            width: 230px;
        }
    }
}

//iPads, Tablets
@media screen and (max-width:768px) {
    nav {
        grid-template-columns: 12% 1fr 10% 12%;

        img {
            width: 190px;
        }

        ul {
            position: absolute;
            top: 12vh;
            right: 35px;

            border-radius: 15px;

            width: 120px;
            height: 115px;

            flex-direction: column;
            align-items: center;

            transform: translateX(100%);
            transition: transform 0.5s ease-out;

            li {
                opacity: 0;
            }
        }
    }
    .burger {
        display: block;
    }
}

//Mobile devices
@media screen and (max-width:480px) {
    nav {
        grid-template-columns: 9% 1fr 10% 9%;

        img {
            width: 180px;
        }
    }
}


@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle_nav {
    transform: translateX(-10%);
    background-color: white;
}

.toggle_burger .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle_burger .line2 {
    opacity: 0;
}

.toggle_burger .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.toggle_about {
    text-decoration-line: underline;
}

.toggle_works {
    text-decoration-line: underline;
}

.toggle_home {
    text-decoration-line: underline;
}