nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 1fr 1fr 20%;
      grid-template-columns: 20% 1fr 1fr 20%;
      grid-template-areas: ". hfirst hsecond .";
  font-family: 'Staatliches', cursive;
  letter-spacing: 2px;
  font-size: 22px;
  margin-top: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav img {
  width: 350px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  z-index: 20;
}

nav ul a {
  text-decoration: none;
  color: #6b5757;
}

nav ul a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #587220;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #6b5757;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1200px) {
  nav {
    -ms-grid-columns: 18% 1fr 1fr 18%;
        grid-template-columns: 18% 1fr 1fr 18%;
    margin-top: 35px;
  }
  nav img {
    width: 270px;
  }
}

@media screen and (max-width: 1024px) {
  nav {
    -ms-grid-columns: 15% 1fr 1fr 15%;
        grid-template-columns: 15% 1fr 1fr 15%;
  }
  nav img {
    width: 230px;
  }
}

@media screen and (max-width: 768px) {
  nav {
    -ms-grid-columns: 12% 1fr 10% 12%;
        grid-template-columns: 12% 1fr 10% 12%;
  }
  nav img {
    width: 190px;
  }
  nav ul {
    position: absolute;
    top: 12vh;
    right: 35px;
    border-radius: 15px;
    width: 120px;
    height: 115px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-out;
    transition: -webkit-transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  }
  nav ul li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  nav {
    -ms-grid-columns: 9% 1fr 1fr 9%;
        grid-template-columns: 9% 1fr 1fr 9%;
  }
  nav img {
    width: 180px;
  }
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle_nav {
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
  background-color: white;
}

.toggle_burger .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle_burger .line2 {
  opacity: 0;
}

.toggle_burger .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

.toggle_about {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.toggle_works {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.toggle_home {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
/*# sourceMappingURL=style.css.map */