nav {
    margin-left: 19%;
    margin-right: 19%;
    min-height: 15vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "hfirst hsecond";
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
    font-size: 22px;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;

    a {
        text-decoration: none;
        color: rgb(24, 22, 22);
        &:hover {
            text-decoration-line: underline;
            color: rgb(88, 114, 32);
        }
    }
}

.burger {
    display: none;
    cursor: pointer;

    div {
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 5px;
        transition: all 0.3s ease;
    }
}


@media screen and (max-width:1250px) {
    .slogo {
        width: 80%;
    }
}

@media screen and (max-width:900px) {
    nav {
        grid-template-columns: 1fr 10%;
    }
    .slogo {
        width: 65%;
    }
    .nav-links {
        position: absolute;
        top: 20vh;
        right: 0px;
        border-radius: 15px;
        width: 28%;
        height: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-out;

        li {
            opacity: 0;
        }
    }
    .burger {
        display: block;
    }
}

@media screen and (max-height:500px) {
    .nav-links {
        height: 40%;
        top: 30vh;
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle_nav {
    transform: translateX(-10%);
    background-color: white;
}

.toggle_burger .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle_burger .line2 {
    opacity: 0;
}

.toggle_burger .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.toggle_about {
    text-decoration-line: underline;
}

.toggle_works {
    text-decoration-line: underline;
}

.toggle_home {
    text-decoration-line: underline;
}